body {
margin: 0;
background: #141414;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

/* NAV */

.nav {
display: flex;
justify-content: space-between;
align-items: center;

padding: 15px 40px;

position: fixed;
top: 0;
left: 0;
width: 100%;

box-sizing: border-box;

background: rgba(0,0,0,0.85);
backdrop-filter: blur(8px);

z-index: 1000;
}

.logo {
font-size: 28px;
font-weight: bold;
color: #e50914;
}

.nav a {
color: white;
text-decoration: none;
margin-left: 20px;
transition: 0.2s;
}

.nav a:hover {
color: #b3b3b3;
}

/* HERO */

.hero {
height: 80vh;

display: flex;
align-items: center;

padding: 0 60px;

background:
linear-gradient(
to top,
#141414 0%,
rgba(20,20,20,0.3) 50%,
rgba(20,20,20,0.2) 100%
),
linear-gradient(
to right,
rgba(0,0,0,0.9),
rgba(0,0,0,0.3)
),
url("https://images.unsplash.com/photo-1518770660439-4636190af475")
center center / cover;
}

.hero-content {
max-width: 700px;
}

.hero-content h1 {
font-size: 72px;
margin-bottom: 15px;
}

.hero-content p {
font-size: 22px;
color: #dddddd;
max-width: 600px;
}

.hero-content button {
margin-top: 20px;

padding: 12px 25px;

border: none;
border-radius: 5px;

font-size: 16px;
font-weight: bold;

cursor: pointer;

background: white;
color: black;
}

.hero-content button:hover {
background: #d9d9d9;
}

/* SECCIONES */

.row {
padding: 20px 40px;
}

.row h2 {
margin-bottom: 15px;
}

/* SCROLL HORIZONTAL */

.row-scroll {
display: flex;
gap: 12px;

overflow-x: auto;
overflow-y: hidden;

padding-bottom: 15px;

scrollbar-width: none;
}

.row-scroll::-webkit-scrollbar {
display: none;
}

/* CARDS ESTILO NETFLIX */

.card {
  min-width: 220px;
  width: 220px;
  height: 160px;

  border-radius: 8px;
  overflow: hidden;

  background: #222;

  transition: transform 0.25s;
}

.card:hover {
  transform: scale(1.08);
}

.card-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* TITULO SOBRE IMAGEN */

.card-title {
position: absolute;

left: 0;
right: 0;
bottom: 0;

padding: 12px;

background:
linear-gradient(
transparent,
rgba(0,0,0,0.95)
);

font-weight: bold;
}

/* PAGINAS INTERNAS */

.section {
max-width: 1000px;

margin: auto;

padding: 120px 30px 40px 30px;
}

.section h2 {
margin-bottom: 20px;
}

/* TIMELINE */

.timeline {
border-left: 3px solid #e50914;
padding-left: 25px;
}

.timeline-item {
margin-bottom: 35px;
position: relative;
}

.timeline-item::before {
content: "";

position: absolute;

width: 14px;
height: 14px;

border-radius: 50%;

background: #e50914;

left: -34px;
top: 5px;
}

/* BOTONES */

.btn {
display: inline-block;

background: #e50914;
color: white;

padding: 12px 20px;

border-radius: 6px;

text-decoration: none;
}

.btn:hover {
background: #c40812;
}
